$white: #F0F0F0;
$black: #070000;

$primary-color: rgba(176, 32, 65,1);
$secondary-color1: rgba(191, 96, 35,1);
$secondary-color2: rgba(121, 23,125,1);

$success: rgba(154,218, 89,1);
$alert: rgba(241, 87, 75,1);

$dark-grey: rgba(151,143,146,1);
$light-grey: hsl(0, 0, 80);
