<section class="authorForm">
  <h2>Add Author</h2>
  <form action="/author" method="post">

    <label for="first_name">First Name</label>
    <input id="first_name" type="text" name="first_name">
    <label for="last_name">Last Name</label>
    <input id="last_name" type="text" name="last_name">
    <label for="biography">Biography</label>
    <textarea id="biography" type="text" name="biography"></textarea>
    <label for="portrait_url">Author Photo</label>
    <input id="portrait_url" type="text" name="portrait_url" placeholder="portrait url">
    <input type="submit" value="Add Author">
  </form>
</section>
