<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://use.fontawesome.com/645065a7a5.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="flex-column">
  <header class="flex align-items">
    <img src="http://rotwnews.com/wp-content/uploads/2013/05/READ.jpg" />
    <h1>Galvanize Reads</h1>
  </header>
  <main class="flex">
    <nav>
      <ul class="flex-column align-items">
        <li class="flex center"><i class="fa fa-user" aria-hidden="true"></i>Authors</li>
        <li class="flex center"><i class="fa fa-bookmark" aria-hidden="true"></i>Books</li>
      </ul>
    </nav>
    <section>
      {{{body}}}
    </section>
  </main>
</body>

</html>
