.flex {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.center {
  justify-content: center;
  align-items: center; }

.align-items {
  align-items: center; }

.space-around {
  justify-content: space-around; }

.align-content {
  align-content: center; }

.books {
  padding: 1rem;
  margin-bottom: 2rem; }
  .books img {
    height: 20vh;
    width: auto; }

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700; }

li,
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400; }

a {
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400; }

input,
label {
  display: block; }

input {
  margin-bottom: 1rem; }

header {
  background-color: #978f92;
  color: #b02041;
  padding: 1rem; }
  header img {
    max-height: 15vh;
    width: auto;
    border-radius: 100%; }

main nav {
  min-width: 20vw; }
  main nav li {
    min-height: 40vh; }

.bookForm h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem; }

.bookForm,
.bookForm select {
  display: inline;
  margin-right: 1rem; }

.bookForm,
.bookForm .inline {
  display: inline; }
