img {
  max-height: 15vh;
  width: auto;
  border-radius: 100%; }

.fa-remove {
  color: #f1574b; }

.delete {
  background-color: #f1574b; }

.active {
  background-color: #cccccc; }

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700; }

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400; }

a {
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400; }

input,
label {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400; }

label {
  font-size: 1rem; }

input {
  margin-bottom: 1rem; }

.new {
  font-weight: 700;
  color: #F0F0F0;
  padding: 1rem;
  display: block;
  background-color: #9ada59;
  transition: background-color 300ms; }
  .new:hover {
    background-color: #b3e383; }

button,
input[type=submit] {
  border: none;
  padding: 1rem;
  color: #F0F0F0;
  font-weight: 700;
  box-shadow: 2px 2px 1px #cccccc;
  cursor: pointer;
  width: 100%; }

header {
  background-color: #978f92;
  color: #b02041;
  padding: 1rem;
  display: flex; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; }
